.container {
  display: block;
  border: 1px transparent;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 0 14px gainsboro;
  margin-bottom: 30px;
  width: 325px;
  height: 121px;
}

.container:hover {
  transform: translate(0, -1px);
}

.full_name {
  font-size: 14px;
  color: #0366d6;
}

.description {
  display: block;
  font-size: 12px;
  color: #586069;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 66px;
}

.repo {
  display: flex;
  justify-content: baseline;
  font-size: 12px;
  color: #586069;
}

.repo > span {
  margin-right: 16px;
}

.language {
  display: flex;
  align-items: center;
}

.stargazers_count {
  display: flex;
  align-items: center;
}

.forks {
  display: flex;
  align-items: center;
}
