.container {
  border-radius: 100px;
  background-color: #777777;
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  margin: 5px;
}

.container:hover {
  transform: scale(1.1);
  opacity: 1;
}

.container:hover {
  cursor: pointer;
}

.old {
  margin: -5px;
  position: fixed;
  right: 10%;
  bottom: 20%;
}
