.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: radial-gradient(white 30%, lightgray 70%);
}

.gradual {
  border-radius: 10%;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(gray, lightgray);
}

.content {
  border-radius: 10%;
  width: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: radial-gradient(darkslategray, gray);
  font-size: 60px;
  color: antiquewhite;
  font-weight: bold;
}

.backToHome {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.back {
  padding: 15px;
  border-radius: 15% 15% 0 0;
  box-shadow: 0 6px 10px #808080;
  background-color: rgba(128, 128, 128, 0.5);
}

.back:hover {
  background-color: rgba(128, 128, 128, 0.7);
}

.backToHome:active {
  bottom: 47px;
}
