.position {
  position: fixed;
  bottom: 15%;
  right: 5%;
}

.container {
  border-radius: 100px;
  background-color: #777777;
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover {
  transform: scale(1.1);
}

.container:hover {
  cursor: pointer;
}
